body {
	padding: 15px 100px 15px 100px;
	margin: 10px auto;
	text-align: center !important;
	font-family: "roboto light";
	display: flex;
	color: #2e2e2e;
	background-color: #ececec;
	float: center;
}

#pagetitle {
  margin: auto;
  text-align: center;
}

#app {
	margin: auto;
	/* display: block; */
	/* justify-content: center; */
}

/*** MAP ***/

.mapContainer {
  height: 150px;
  width: 700px;
}

.mapboxgl-canvas{
	/* height: 200px; */
	float: center;
	margin: 10px auto;
}

.mapboxgl-ctrl-attrib-inner {
	float:center;
}

/*** MARKER/POPUP ***/
#marker {
	background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	}
	 
.mapboxgl-popup {
	max-width: 200px;
  }
  
div.mapboxgl-popup-content {
  max-height: 200px;
  width: 100px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  font-family: 'roboto';
  border: 2px solid rgb(243, 69, 69);
  text-align: center;
}

h3.mapboxgl-popup-content {
  margin: 0px;
}

/*** CHART and TABLE ***/

#chart {
	height: 100px;
	width: 700px;
	display: inline-block;
  float: left;
  padding: 10px 0 10px 0;

}

#graphs {
  display: inline-block;
  /* width: 100%; */
  /* padding: 400px; */
}

.MuiTableCell-root {
	color: rgb(255, 37, 73);
}

/* #table-container{
	width: 440px;
	margin: 20px;
	padding-top: 20px;
	/* height: 100px; */

#title {
	text-align: center;
}
	
#averageTable {
	text-align: center;
	margin: auto;
	border-collapse: collapse;
	border: 3px solid #ddd;
	width: 700px;
	height: 150px;
	font-size: 12px;
}
	
#averageTable td, #students th {
	border: 1px solid #ddd;
	padding: 8px;
}
	
#averageTable tr:nth-child(even){background-color: #f2f2f2;}
	
#averageTable tr:hover {background-color: #ddd;}
	
#averageTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: rgb(243, 69, 69);
	color: white;
}

/*** TOOLS ***/

#box {
	border: 1px solid black;
	/* width: 50%; */
	/* height: 50%; */
	min-width: 500px;
	min-height: 300px;
	margin: 20px;
	display: inline-block;
}

/* HYPERLINKS */
a { 
	color: black; 
	font-weight: normal;
}

a:visited {
	color: black;
}

a:hover{
	color: rgb(243, 69, 69);
}




/*************************/
/* MEDIA QUERIES BELOW */
/*************************/


/* MEDIA QUERY FOR */
/* Tablets */
@media (max-width: 1000px) {
	body {
	  /* color: yellow; */
	}
	
	#pagetitle {
		margin: auto;
		text-align: center;
    width: 550px;
    font-size: 16px;
	}

	#city {
		display: block;
  }

  .mapContainer {
    height: 150px;
    width: 500px;
    margin: auto;
  }

  .mapboxgl-canvas{
    /* height: 00px; */
    float: center;
    margin: auto;
    /* margin-left: 10px;
    padding-left: 10px; */
  }
  
  #chart {
    /* height: 30%; */
    width: 460px;
    display: inline-block;
    float: left;
  }

  #averageTable {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 460px;
    height: 100px;
    font-size: 12px;
  }

  #title {
    font-size: 11px;
  }
  
}

/* MEDIA QUERY FOR */
/* Mobile phones */
@media only screen and (max-width: 660px) {

  body {
    padding: 15px 3px 3px 3px;
    margin: 0px auto;
    width: 300px;
	}

	#pagetitle {
		margin: auto;
		text-align: center;
    width: 300px;
    font-size: 12px;
  }

  .mapContainer {
    /* height: 150px; */
    width: 300px;
  }

  .mapboxgl-canvas{
    /* height: 40%; */
    /* width: ; */
    float: center;
    margin: auto;
  }

  #chart {
    height: 150px;
    width: 300px;
    display: inline-block;
    float: left;
  }

  #averageTable {
    text-align: center;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 300px;
    height: 120px;
    font-size: 10px;
  }

  #title {
    font-size: 11px;
  }

  h2 {
    font-size: 12px;
  }
  
}

/* END OF MEDIA QUERIES */